extends layout

block content
	h1.white-text= title
	h3.white-text Please select one entity
	.center-align
		each entity, index in entities
			.circle(style=`background-image: url("${entity.img}");`)
				a(href=`entity/${entity.idtipoEntidad}`)
					.circle-inner
						.circle-wrapper
							.circle-content=`${entity.nomtipoEntidad}-${entity.idtipoEntidad}`