extends layout

block content
	h1= title
	p Welcome to #{title}
	ul
		each entity, index in entities
			li
				a(href=`/entity/${entity.idtipoEntidad}`)=`${entity.nomtipoEntidad}-${entity.idtipoEntidad}`