extends layout

block content
	h1.white-text=title
	h3.white-text=`Welcome back ${user.name} ${user.lastName}`
	h3.white-text Please select one entity
	.center-align
		each entity, index in entities
			.entity
				.circle(style=`background-image: url("${entity.imgtipoEntidad}");`)
					a(href=`/entity/${entity.idtipoEntidad}`)
						.circle-inner
							.circle-wrapper
								.circle-content
				.circle-title=`${entity.nomtipoEntidad}-${entity.idtipoEntidad}`