.row
    .col.s12.m3
        div(style="height: 490px; overflow: auto")
            .input-field
                input#customer-number.validate(type='text')
                label(for='customer-number') Nº cliente
            .input-field
                input#customer-card.validate(type='text')
                label(for='customer-card') ID tarjeta
            .input-field
                input#customer-email.validate(type='text')
                label(for='customer-email') Email
            .input-field
                input#customer-name.validate(type='text')
                label(for='customer-name') Nombre
            .input-field
                input#customer-last-name.validate(type='text')
                label(for='customer-last-name') Apellido 1
            .input-field
                input#customer-phone.validate(type='text')
                label(for='customer-phone') Móvil
            .input-field
                input#customer-id.validate(type='text')
                label(for='customer-id') DNI
            .input-field
                input#customer-country.validate(type='text')
                label(for='customer-country') País
            .input-field
                input#customer-city.validate(type='text')
                label(for='customer-city') Provincia
            .input-field
                input#customer-address.validate(type='text')
                label(for='customer-address') Dirección
        a.waves-effect.waves-light.btn.app-button.block Buscar
    .col.s12.m6
        div(style="height: 490px; overflow: auto")
            table.highlight
                thead
                    tr
                        th ID CLiente
                        th Apellido Paterno
                        th Apellido Materno
                        th Nombre
                tbody
                    each customer in customers
                        tr.customer-tr(data-id=customer.idCliente)
                            td=customer.idCliente
                            td=customer.patCliente
                            td=customer.matCliente
                            td=customer.nomCliente
    .col.s12.m3
        a#customer-modal-create.waves-effect.waves-light.btn.app-button.block Alta cliente
        a#customer-modal-edit.waves-effect.waves-light.btn.app-button.block(disabled) Editar datos cliente
        a.waves-effect.waves-light.btn.app-button.block Recargar saldo
        a.waves-effect.waves-light.btn.app-button.block Presupuestos
        a.waves-effect.waves-light.btn.app-button.block Histórico de ventas
        a.waves-effect.waves-light.btn.app-button.block Histórico de deudas
        a.waves-effect.waves-light.btn.app-button.block Histórico de facturas
        a.waves-effect.waves-light.btn.app-button.block Bonos
#customer-modal.modal.modal-fixed-footer
    .modal-content
        h4#customer-modal-title
        .row
            input#customer-modal-idCliente(type='hidden')
            .col.s12
                | Tipo de Cliente * :
                label
                    input.validate(type='radio', name='customer-modal-tipCliente', checked, data-name='Categoria', value='N')
                    span Natural
                label
                    input.validate(type='radio', name='customer-modal-tipCliente', data-name='Categoria', value='J')
                    span Juridico
            .input-field.col.s12.m6 
                input#customer-modal-nomCliente.validate(type='text', data-name='Nombre')
                label(for='customer-modal-nomCliente') Nombre (s)*
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                input#customer-modal-patCliente.validate(type='text', data-name='Primer apellido')
                label(for='customer-modal-patCliente') Apellido Paterno
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                input#customer-modal-matCliente.validate(type='text', data-name='Segundo apellido')
                label(for='customer-modal-matCliente') Apellido Materno
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                input#customer-modal-dirCliente.validate(type='text', data-name='Dirección')
                label(for='customer-modal-dirCliente') Dirección
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6
                select#customer-modal-idtipoPais(data-name='País')
                    -var first=true
                    each country in countries
                        option(value=country.idtipoPais, selected=first)=country.nomtipoPais
                        -first=false
                label(for='customer-modal-idtipoPais') País
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                select#customer-modal-idtipoDpto(data-name='Provincia')
                    -var first=true
                    each city in cities
                        option(value=city.idtipoDpto, selected=first)=city.nomtipoDpto
                        -first=false
                label(for='customer-modal-idtipoDpto') Departamento
                span.helper-text(data-error='Campo requerido')
            .col.s12
                | Género:
                label
                    input.validate(type='radio', name='customer-modal-idtipoGenero', value='M', data-name='Sexo', checked)
                    span Masculino
                label
                    input.validate(type='radio', name='customer-modal-idtipoGenero', value='F', data-name='Sexo')
                    span Femenino
                label
                    input.validate(type='radio', name='customer-modal-tipoGenero', value='otro', data-name='Sexo')
                    span Otro
            .input-field.col.s12.m6 
                input#customer-modal-fnaCliente.validate(type='text', data-name='Referido')
                label(for='customer-modal-fnaCliente') Fecha de Nacimiento
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s10.m6 
                input#customer-modal-telCliente.validate(type='text', data-name='Teléfono')
                label(for='customer-modal-telCliente') Teléfono
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6
                input#customer-modal-celCliente.validate(type='text', data-name='Teléfono móvil')
                label(for='customer-modal-celCliente') Teléfono móvil *
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                input#customer-modal-mailCliente.validate(type='email', data-name='Email')
                label(for='customer-modal-mailCliente') Email
                span.helper-text(data-error='Campo requerido')
            .input-field.col.s12.m6 
                input#customer-modal-ciCliente.validate(type='text', data-name='DNI')
                label(for='customer-modal-ciCliente') C.I.
                span.helper-text(data-error='Campo requerido')
    .modal-footer
        span.info * Campos obligatorios
        a.modal-close.waves-effect.waves-red.btn-flat(href='#!') Cancel
        button#customer-modal-submit.waves-effect.waves-green.btn-flat(href='#')