doctype html
html
	head
		title=app.appName
		link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
		link(type='text/css', rel='stylesheet', href='/css/app.css', media='screen,projection')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
	body
		nav.nav-extended.main-theme
			.nav-wrapper
				a.app-li(href=`./${entity.id}`).app-li=app.appName
				.app-time.app-li.app-time-nav
				a.sidenav-trigger(href='#', data-target='mobile-menu')
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li.app-li=entity.name
					li
						a.dropdown-trigger.app-li(href='#!', data-target='dropdown-menu')
							| #{user.name} #{user.lastName}
							i.material-icons.right arrow_drop_down
				ul#dropdown-menu.dropdown-content
					li
						a(href='#', title="mi perfil").black-text Mi perfil
							i.material-icons person
					li
						a(href='/entity', title="cambiar de entidad").black-text Cambiar entidad
							i.material-icons compare_arrows
					li.divider
					li
						a(href='/logout', title="cerrar sesión").red-text Cerrar sesión
							i.material-icons power_settings_new
			.nav-content
				ul#tabs.tabs.tabs-transparent
					li.tab
						a(href='#user-tab') Usuarios
					li.tab
						a(href='#customer-tab') Clientes
					li.tab
						a(href='#card-tab') Tarjetas
					li.tab
						a(href='#box-tab') Caja
					li.tab
						a(href='#tpv-tab') TPV
					li.tab
						a(href='#invoice-tab') Facturas
					li.tab
						a(href='#fast-change-tab') Cambio Rapido
		ul#mobile-menu.sidenav
			li
				.user-view
					.background.main-theme
					a(href="#")
						img.circle
					a(href="#")
						span.white-text.name=`${user.name} ${user.lastName}`
						span.white-text.email=`${user.email}`
			li
				a(href='#', title="mi perfil").black-text Mi perfil
					i.material-icons person
			li
				a(href='#', title="cambiar de usuario")
					i.material-icons compare_arrows
					| Cambiar de usuario
			li
				a(href='/entity', title="cerrar")
					i.material-icons power_settings_new
					| Salir
			li
				.divider
			li
				a.app-time.subheader
		.container.app-panel
			.row
				.input-field.col.s12.m2
					input#searcher.validate(type='text')
					label(for='searcher') Nombre, móvil o ID tarjeta
				.col.s12.m3
					span Nº cliente:
						span#customer-app-id
					br
					span Categoría de Cliente:
						span#customer-app-category
					br
					span Móvil:
						span#customer-app-phone
				.col.s12.m3
					span Nombre:
						span#customer-app-name
					br
					span Dirección:
						span#customer-app-address
					br
					span Email:
						span#customer-app-email
				.col.s12.m4
					a.waves-effect.waves-light.btn.green Puntos
			block content
			.row(style="background-color: rgba(128, 128, 128, 0.34)")
				.col.s12.m8(style="height: 200px; overflow: auto")
					table.highlight
						thead
							tr
								th Nombre
								th Tipo
								th Cantidad
								th Precio Unitario
								th Precio Total
						tbody
							tr
								td soda
								td bebida
								td 10
								td 5
								td 50
							tr
								td soda
								td bebida
								td 10
								td 5
								td 50
							tr
								td soda
								td bebida
								td 10
								td 5
								td 50
							tr
								td soda
								td bebida
								td 10
								td 5
								td 50
				.col.s12.m4
					.row
						.col.s12.m6
							a.waves-effect.waves-light.btn.app-button.block Ticket en espera
						.col.s12.m6
							a.waves-effect.waves-light.btn.app-button.block Abrir cajon
					.row
						.col.s12.total Total Bs. 50
					.row
						.col.s12.m12
							a.waves-effect.waves-light.btn.app-button.block.green Pagar
		script(src='/js/materialize.min.js')
		script(src='/js/entity/app/index.js')
		script(src='/js/entity/customer/index.js')
		script(src='/js/entity/product/index.js')