extends layout

block content
	h1.white-text=title
	h4.white-text=`Bienvenido de nuevo ${user.name} ${user.lastName}, por favor seleccione una entidad:`
	h4
		a(href="/logout").blue-text Cerrar sesión
	h3.white-text 
	.center-align
		each entity, index in entities
			.entity
				.circle(style=`background-image: url("${entity.imgtipoEntidad}");`)
					a(href=`/entity/${entity.idtipoEntidad}`)
						.circle-inner
							.circle-wrapper
								.circle-content
				.circle-title=`${entity.nomtipoEntidad}`